*.tfstate
*.tfstate.backup
*.tfstate.lock.info

.terraform/

*.tfvars
!envs/*.tfvars
*.zip
modules/**/*.zip

.DS_Store
Thumbs.db


# Backend configs (generados por bootstrap-backend.sh)
envs/**/backend.hcl